.forgot-password-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

.forgot-password-card {
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 0.5rem;
  color: #8e2de2;
  font-size: 1.8em;
}

.subtitle {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button .submit{
  width: 100%;
  padding: 0.9rem;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.back-to-login {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.back-to-login a {
  color: #8e2de2;
  text-decoration: none;
}

.login-redirect {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 8px;
  background: none;
  color: white;
  background-color: #8e2de2;
}

